@charset "UTF-8";
/* Background-Styles */

body {
margin: 0px;
padding: 0px;
background-color: #131211;
font-family: Arial, Helvetica, sans-serif;
color: #7F7D78;
font-size: 13px;
line-height: 19px;
}
#main {
background: #c4c0be url(../images/background_slice_light.jpg) repeat-x;
padding-bottom: 30px;
}
#main .container {
background-image: url(../images/background_light.jpg);
background-repeat: no-repeat;
min-height: 400px;
}
#header {
padding: 20px 0;
}
#logo h1, #logo small {
margin: 0px;
display: block;
text-indent: -9999px;
}
#logo {
background-image: url(../images/logo.png);
background-repeat: no-repeat;
width: 200px;
height: 100px;
}
img, #logo {
behavior: url(../js/iepngfix.htc);
}
ul#menu {
margin: 0px;
padding: 0px;
position: absolute;
right: 0px;
}
ul#menu li {
display: inline;
margin-left: 12px;
}
ul#menu li a {
text-decoration: none;
color: #716d6a;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
text-transform: uppercase;
}
ul#menu li a.active, ul#menu li a:hover {
color: #211e1e;
}

/* Block styles */

.block {
border: 1px solid #a3a09e;
background-color: #ffffff;
margin-bottom: 20px;
position: relative;
}
.ribbon {
position: absolute;
top: -3px;
right: -3px;
z-index: 99;
}
.block_inside {
display: block;
border: 1px solid #ffffff;
background: #ffffff url(../images/background_block_slice.jpg) repeat-x;
padding: 30px;
overflow: auto;
}
.block_inside a, .block_inside a:hover {
color: #007DE2;
text-decoration: none;
}
.block_inside h4 a:hover {
text-decoration: underline;
}
.image_block {
border: 1px solid #b5b5b5;
background-color: #d2d2d2;
padding: 5px 5px 1px 5px;
float: left;
}
.image_block img {
border: 1px solid #b5b5b5;
}
.text_block {
float: left;
width: 430px;
margin-left: 30px;
padding-top: 30px;
}
/* Block Content styles */
#block_content {
float: left;
}
#content_area, #coments_area {
width: 665px;
}
#sidebar {
float: left;
width: 281px;
position: relative;
left: -1px;
margin-top: 15px;
background-color: #e2dddc;
border: 1px solid #a3a09e;
}
#sidebar .block_inside {
background: none;
background-color: #e2dddc;
}
/* Text Styles */
h2 {
margin: 0px 0px 10px 0px;
font-size: 36px;
font-family: Helvetica, Arial, Sans-serif;
color: #000000;
line-height: 39px;
letter-spacing: -1px;
}
h3 {
margin: 10px 0px 5px 0px;
font-size: 14px;
line-height: 21px;
font-family: Helvetica, Arial, Sans-serif;
color: black;
}
small {
color: #595856;
font-weight: bold;
font-size: 11px;
display: block;
margin-bottom: 15px;
}
a {
color: #26689F;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
p {
margin: 0px 0px 15px 0px;
}

a.button {
background: #32312f url(../images/button_bg.jpg) repeat-x;
padding: 5px 10px 5px 10px;
color: #ffffff;
text-decoration: none;
border: 1px solid #32312f;
text-transform: uppercase;
font-size: 9px;
line-height: 25px;
}
a.button:hover {
background: #007de2 url(../images/button_bg_o.jpg) repeat-x;
border-color: #007de2;
color: #ffffff;
}

/* Portfolio-Home-Styles */
#block_articles {
/*overflow: auto;*/
margin-bottom: 20px;
z-index: 999;
float: left;
}
.article_block {
background-color: transparent;
margin-bottom: 20px;
position: relative;
}
#article_items {
width: 657px;
margin-right: 25px;
float: left;
padding-top: 3px;
}
.article_item {
border: 1px solid #a3a09e;
margin-bottom: 10px;
position: relative;
}
.article_item .block_inside {
background: none;
background-color: #e2dddc;
padding: 25px 30px 15px 30px;
}
.article_item .thumbnail {
float: left;
margin-right: 20px;
border: 1px solid #979390;
}

#footer {
background-image: url(../images/background_footer.jpg);
background-repeat: repeat-x;
padding: 40px;
position: relative;
top: -20px;
min-height: 130px;
}
/* Footer-Styles */
#footer {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
}
.footer_column {
float: left;
width: 120px;
margin-right: 30px;
}
#footer .long {
width: 610px;
}
#footer h3 {
color: #e2dddc;
text-transform: uppercase;
font-size: 10px;
}
.footer_column ul li, .footer_column ul {
list-style: none;
margin: 0px;
padding: 0px;
}

.container {
width: 950px;
margin: 0 auto;
position: relative;
}
.clear {
clear: both;
}
#sidebar h3 {
font-size: 20px;
line-height: 23px;
}
#sidebar ul {
margin: 10px 0px 30px 0px;
padding: 0px;
}
#sidebar ul li {
list-style: none;
margin: 0px 0px 5px 0px;
padding: 0px;
}
#sidebar ul li a {
color: #7f7d78;
}
#sidebar ul li a:hover {
color: #0172dd;
text-decoration: none;
}

#content_area h2 {
font-size: 32px;
line-height: 31px;
}

#content_area .separator {
border-top: 1px solid #e3e3e3;
margin-top: 40px;
padding-top: 40px;
}
h4 {
color: #007de2;
margin: 0px 0px 0px 0px;
}

/*
        DARK STYLE
*/
body#dark {
background-color: #1e1d1b;
}
body#dark #main {
background: #292826 url(../images/background_dark_slice.jpg) repeat-x;
}
body#dark #main .container {
background-image: url(../images/background_dark.jpg);
}
body#dark #footer {
background-image: url(../images/background_dark_footer.jpg);
}
body#dark ul#menu li a.active, body#dark ul#menu li a:hover {
color: #ffffff;
}
body#dark .block, body#dark .mini_portfolio_item {
border-color: #1b1a19;
}
body#dark #text_column h2#text_title {
background-image: url(../images/creatif_dark.jpg);
}

.popup {
width: 100%;
display: none;
position: relative;
_position: absolute; /* hack for internet explorer 6*/
 z-index:200;
border: 1px solid #A3A09E;
background-color: #E2DDDC;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}
.popup_inside {
	padding: 0 10px 10px 10px;
border: 1px solid #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.popup a {
float: left;
padding: 0 5px;
border: 1px solid #909090;
margin: 1px;
background-color: #E2DDDC;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
.popup a:hover {
border: 2px solid #808080;
background-color: #A3A09E;
color:white;
margin: 0;
}

#back_top {
position: fixed;
bottom: 10px;
left: 10px;
display: none;
}

#advertising {
display: none;
}

#coments_area .block_inside {
padding-bottom: 0;
padding-top: 10px;
}
#coment_list {
margin: 10px 0 0 0;
padding: 0;
}
#coment_list li {
padding: 10px 0 10px;
list-style: none;
border-top: solid 1px #CCC;
position: relative;
}
#coment_list li #coment_list li {
margin-left: 30px;
padding: 0;
}
#coment_list li
#coment_list li
#coment_list li
#coment_list li
#coment_list li
#coment_list li {
margin-left: 0;
}
#coment_list .commentnumber {
position: absolute;
right: 0;
top: 8px;
font: normal 200%/100% Georgia, "Times New Roman", Times, serif;
color: #CCC;
}
#coment_list cite {
font: bold 140%/110% Arial, Helvetica, sans-serif;
color: #666;
}
#coment_list .time {
color: #CCC;
margin: 0 0 10px;
}
#coment_list .name {
margin: 0;
}
#article_info {
position: relative;
font-size: 10px;
}
.block_inside .social {
position: absolute;
top: 10px;
right: 10px;
}
#article_info p {
margin: 0;
float: left;
}
#article_info a {
float: right;
font-size: 13px;
}
hr {
clear: both;
}

/* spread-single */
.spread-single .twitar a, .spread-single .mail a, .spread-single .share a, .spread-single .twitar a, .spread-single .feed a, .spread .twitar a {
background-image: url('http://tecnoblog.net/wp-content/themes/tecnoblog2/img/sprite.png');
background-repeat: no-repeat;
background-color: transparent;
}
.spread-single {
margin: 5px 0;
padding: 5px;
    //border-top:1px solid #efefef;
height: 35px;
}

.avatar-35, #content-body .avatar-28 {
width: 35px;
height: 35px;
float: left;
border: 1px solid #e5e5e5;
margin: 0 5px 0 0;
}

.spread-single ul {
float: right;
margin: 5px 0 0 0;
min-width: 290px;
}

.spread-single ul li {
float: left;
margin: 0 10px 0 0;
list-style: none;
}

.spread-single ul li a {
color: #556677;
font-size: 12px;
font-weight: normal;
text-decoration: none;
letter-spacing: -1px;
}

.spread-single .share a {
background-image: url('http://tecnoblog.net/wp-content/themes/tecnoblog2/img/spread_share.png');
background-repeat: no-repeat;
padding-bottom: 1px;
padding-left: 16px;
}

.spread-single .share {
margin-right: 0;
}

.spread-single .mail {
margin: 0;
text-align: left;
}

.spread-single .mail a {
background-image: url('http://tecnoblog.net/wp-content/themes/tecnoblog2/img/spread_mail.png');
background-repeat: no-repeat;
padding-left: 18px;
}

.spread-single .mail , .spread-single .share {
padding: 3px;
background: -moz-linear-gradient(center top , #fff, #e4e7e9) repeat scroll 0 0 transparent;
background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#fff), to(#e4e7e9));
border: 1px solid #dfdfdf;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
height: 14px;
}

.spread-single .mail:hover, .spread-single .share:hover {
border: 1px solid #c0c0c0;
}

.spread-single .bs-twitter, .spread-single .fblike, .spread-single .plusone {
margin: 1px 0 0 0;
}


.spread-single .bs-twitter .iframe-t {
width: 105px;
height: 20px;
}

.spread-single .fblike {
margin: 1px 5px 0 0;
}

.spread-single .plusone {
margin: 1px 10px 0 0;
width: 65px;
}

.spread-single .fblike .iframe-f {
border: none;
overflow: hidden;
width: 90px;
height: 20px;
}
.spread-single .Authordate {
color: #858282;
font-size: 11px;
line-height: 130%;
padding: 5px 0 0;
}
#social {
display: none;
}
